.text-center {
    text-align: center;
}

.card-table {
    min-height: 410px;
}

#total-order-number {
    font-size: 30px;
    margin: 1.8rem 0 0 0;
}

.card-title h3 {
    font-size: 26px;
    margin: 0 0 2rem 0;
}

th {
    white-space: nowrap;
}

td {
    max-width: 100px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
}

#map {
    height: 275px;
    width: 100%;
    border-radius: 15px;
}

.leaflet-popup-content p {
    margin: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    td {
        max-width: 120px;
    }

    #map {
        height: 310px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #map {
        height: 385px;
    }
}

/* Large devices (desktops, 993px and up) */
@media (min-width: 993px) {
    #map-card, #hold-card {
        position: absolute;
        bottom: 0%;
    }

    #map {
        height: unset;
        min-height: 335px;
    }
    
    #hold-card {
        left: 50%;
    }

    .card-table {
        min-height: unset;
    }

    #awaiting-card .card-table {
        min-height: 415px;
    }

    #hold-card .card-table {
        min-height: 235px;
    }

    td, th {
        padding: 5px 5px;
    }

    td {
        max-width: 88px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
