/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
}
  
/* set map, body, and html to 100% of the screen size */
#map-container,
#map,
body,
html {
    height: 100%;
}

#map {
    height: 100vh;
}

.leaflet-popup-content p {
    margin: 0;
}

#back-btn {
    position: absolute;
    left: 5%;
    top: 95%;
    transform: translate(-50%, -50%);
    z-index: 1;
}