@import url('https://fonts.googleapis.com/css?family=Roboto|Knewave');

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background: url('../img/abstract-gray-waves.png');
    background-size: cover;
}

.container-fluid {
    padding: 20px 100px;
}

.row {
    margin: 0;
}

.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.liquidFillGaugeText {
    font-family: 'Knewave', cursive;
    font-weight: bold;
}

#map-container {
    padding-top: 30px;
}

#map {
    height: 275px;
    width: 100%;
    border-radius: 15px;
}

.leaflet-popup-content p {
    margin: 0;
}

/* .split {
    position: relative;
    height: 77vh;
} */

#right-split {
    height: 435px;
}

#right-split div.container {
    padding: 0;
}

#right-split h3 {
    margin: 0;
}

.table-heading-container {
    padding-bottom: 15px;
}

#right-split div.container:nth-child(2) h3 {
    padding-top: 15px;
}

/* #awaiting-table {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
} */

table {
    font-size: 13px;
}

.table {
    margin: 0;
}

th {
    text-align: center;
}

td {
    max-width: 100px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
}

ul {
    margin: 0;
}

#total-order h1:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 14px;
}

#total-order-number {
    font-family: 'Knewave', cursive;
    font-size: 70px;
    text-align: center;
    padding-left: 20px;
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
    
    /* .split {
        height: 80vh;
    } */

    #right-split {
        height: 450px;
    }

    table {
        font-size: 16px;
    }

    /* #fill-gauge-container {
        position: absolute;
        top: 5%;
    } */

    #map {
        height: 300px;
    }
}
