{% extends "layout.html" %}
{% block title %}
<title>Cellese Login</title>
{% endblock %}
{% block styles %}
<!-- External CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logs.css') }}">
{% endblock styles %}
{% block main %}
<div id="user-input-card" class="container">
  <div class="row">
    <div class="col s12">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="toast" style="position: unset; margin: 0; {{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="card">
          <div class="card-content">
            <span class="card-title">Login</span>
            <div class="form-group">
              <div class="input-field">
                {% if form.email.errors %}
                {{ form.email(type="email", class="validate") }}
                {{ form.email.label() }}
                {% for error in form.email.errors %}
                <span class="helper-text" style="color: #f44336">{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.email(type="email", class="validate") }}
                {{ form.email.label() }}
                <span class="helper-text" data-error="Invalid email address." data-success="Email is valid."></span>
                {% endif%}
              </div>
            </div>
            <div class="form-group">
              <div class="input-field">
                {% if form.password.errors %}
                {{ form.password() }}
                {{ form.password.label() }}
                {% for error in form.password.errors %}
                <span class="helper-text">{{ error }}</span>
                {% endfor %}
                {% else %}
                {{ form.password() }}
                {{ form.password.label() }}
                {% endif%}
              </div>
            </div>
            <div class="form-group">
              <p class="form-check">
                <label>
                  {{ form.remember(type="checkbox") }}
                  <span>Remember Me</span>
                </label>
              </p>
            </div>
          </div>
          <div class="card-action">
            <div class="form-group">
              {{ form.submit(class="btn")}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col s12">
        <small class="text-muted">
          Don't have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign Up</a>
        </small>
      </div>
    </div> -->
</div>
<a id="menu" class="waves-effect waves-light btn btn-floating"><i class="material-icons">whatshot</i></a>
<!-- Tap Target Structure -->
<div class="tap-target" data-target="menu">
  <div class="tap-target-content">
    <a href="{{ url_for('demo') }}">
      <h5 class="black-text">Demo Page</h5>
    </a>
  </div>
</div>
{% endblock main %}
{% block scripts %}
<!-- External JS -->
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock scripts %}